extends layout

block content
    nav(class='navbar navbar-default',role='navigation')
        div(class='container-fluid')
        div(class='navbar-header')
            a(href='#',class='navbar-brand') 欢迎来到博客
        div
            ul(class=nav navbar-nav clearFix)
                li(class='active')
                    a(href='#') HTML
                li
                    a(href='#') CSS
                li
                    a(href='#') JS
                li
                    a(href='/users/login') 登陆
                li
                    a(href='/users/reg') 注册
    block header