doctype html
html
    head
        title   学习less的测试文件
        link(rel='stylesheet',href='/stylesheets/studyLess.css')
        link(rel='stylesheet',href='/css/bootstrap.css')
    body
        div 成功引入less啦，生效css啦
