body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/2.jpg');
  background-repeat: no-repeat;
 
}

a {
  color: #00B7FF;
}
li{
    list-style: none;
}
nav li{
    list-style: none;
    margin: 12px;
    float:left;
}
.clearFix:after{
    content:"";
    display: block;
    clear: both;
}